In [1]:
!pip install pyxlsb

Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

In [ ]:
import pandas as pd
import numpy as np
import pyxlsb

In [ ]:
#Reading the Energy data
residential_energy = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Residential - Energy",skiprows=1)
services_energy = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Services - Energy",skiprows=1)
industrial_energy =pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Industry - Energy",skiprows=1)
transport_energy = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Transport - Energy",skiprows=1)

In [ ]:
#Reading the Energy Indicators data
residential_ei = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Residential - Energy Indicators",skiprows=1)
services_ei= pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Services - Energy Indicators",skiprows=1)
industrial_ei =pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Industry - Energy Indicators",skiprows=1)
transport_ei = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Transport - Energy Indicators",skiprows=1)

In [ ]:
#Reading the Emissions data
residential_emissions = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Residential - Emissions",skiprows=1)
services_emissions= pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Services - Emissions",skiprows=1)
industrial_emissions =pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Industry - Emissions",skiprows=1)
transport_emissions = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Transport - Emissions",skiprows=1)

In [ ]:
#Reading the Carbon Indicators data
residential_ci = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Residential - Carbon Indicators",skiprows=1)
services_ci= pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Services - Carbon Indicators",skiprows=1)
industrial_ci =pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Industry - Carbon Indicators",skiprows=1)
transport_ci = pd.read_excel("/content/iea.xlsb",engine="pyxlsb",sheet_name="Transport - Carbon Indicators",skiprows=1)

In [ ]:
#List of datasets
energy_datasets = [residential_energy,services_energy,industrial_energy,transport_energy]
energy_indicators_datasets = [residential_ei,services_ei,industrial_ei,transport_ei]
emission_datasets = [residential_emissions,services_emissions,industrial_emissions,transport_emissions]
carbon_indicators_datasets = [residential_ci,services_ci,industrial_ci,transport_ci]

In [100]:
#List of all the datasets
sheets=["residential_energy","services_energy","industrial_energy","transport_energy","residential_ei","services_ei","industrial_ei","transport_ei",
          "residential_emissions","services_emissions","industrial_emissions","transport_emissions","residential_ci","services_ci","industrial_ci","transport_ci"]

all_data=[residential_energy,services_energy,industrial_energy,transport_energy,residential_ei,services_ei,industrial_ei,transport_ei,
          residential_emissions,services_emissions,industrial_emissions,transport_emissions,residential_ci,services_ci,industrial_ci,transport_ci]

In [103]:
#Number of unique countries in each dataset
n=0
for i in all_data:
  sheet = sheets[n]
  print(f"{sheet}: ",i['Country'].nunique())
  n+=1

residential_energy:  57
services_energy:  57
industrial_energy:  61
transport_energy:  60
residential_ei:  57
services_ei:  57
industrial_ei:  61
transport_ei:  60
residential_emissions:  57
services_emissions:  57
industrial_emissions:  61
transport_emissions:  60
residential_ci:  57
services_ci:  57
industrial_ci:  61
transport_ci:  60

In [ ]:
#Making country dim table : Get all the countries to one single list and drop duplicates
def country_dim(dataset_list):
  countries = []
  for data in dataset_list:
      countries.extend(data['Country'].unique())
  temp=pd.DataFrame({"Country":countries})
  temp = temp.drop_duplicates().reset_index()
  temp = temp.drop("index",axis=1)
  return temp

In [ ]:
#for data_list in [energy_datasets,energy_indicators_datasets,carbon_indicators_datasets,emission_datasets]:
energy_countries = country_dim(energy_datasets)
emission_countries = country_dim(emission_datasets)
energy_indicator_countries = country_dim(energy_indicators_datasets)
carbon_indicator_countries = country_dim(carbon_indicators_datasets)

In [ ]:
energy_countries

           Country
0        Australia
1          Austria
2          Belgium
3           Canada
4   Czech Republic
..             ...
56         Uruguay
57         Armenia
58      Kazakhstan
59      Kyrgyzstan
60      Uzbekistan

[61 rows x 1 columns]

In [ ]:
#countries_dim = pd.DataFrame(columns=['Country'])
countries_dim = pd.concat([energy_countries,emission_countries,energy_indicator_countries,carbon_indicator_countries])
countries_dim = countries_dim.drop_duplicates()
num = 101+len(countries_dim)
codes = list(range(101,num))
countries_dim['country_code'] = codes

In [ ]:
#Dim table for countries
countries_dim

           Country  country_code
0        Australia           101
1          Austria           102
2          Belgium           103
3           Canada           104
4   Czech Republic           105
..             ...           ...
56         Uruguay           157
57         Armenia           158
58      Kazakhstan           159
59      Kyrgyzstan           160
60      Uzbekistan           161

[61 rows x 2 columns]

In [ ]:
countries_dim.to_csv("dim_country.csv")

In [ ]:
residential_energy.shape

(798, 12)

In [ ]:
residential_energy

,Country,End use,Product,2000,2005,2010,2015,2016,2017,2018,2019,2020
0,Australia,Total Residential,Oil and oil products (PJ) ...,14.63,12.07,15.11,15.3,16.7,14.65,14.74,15.2,14.73
1,Australia,Total Residential,Gas (PJ) ...,104.84,113.71,127.62,143.29,146.38,146.15,145.92,148.58,154.1
2,Australia,Total Residential,Coal and coal products (PJ) ...,0,0,0,0,0,0,0,0,0
3,Australia,Total Residential,Biofuels and waste (PJ) ...,80.6,67.8,55.6,49.8,49.22,48.8,48.2,47.6,47.1
4,Australia,Total Residential,Heat (PJ) ...,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
793,Uruguay,Residential space cooling,Total final energy use (PJ),..,..,0.47,1.22,1.27,1.39,1.42,..,..
794,Uruguay,Residential water heating,Total final energy use (PJ),..,..,5.27,5.85,5.91,5.98,6.08,..,..
795,Uruguay,Residential cooking,Total final energy use (PJ) ...,..,..,7.38,5.56,5.56,5.4,5.39,..,..
796,Uruguay,Residential lighting,Total final energy use (PJ) ...,..,..,..,..,..,..,..,..,..
797,Uruguay,Residential appliances,Total final energy use (PJ) ...,..,..,7.21,8.02,8.96,8.06,8.34,..,..

In [ ]:
residential_energy.columns

Index(['Country', 'End use', 'Product',      2000,      2005,      2010,
            2015,      2016,      2017,      2018,      2019,      2020],
      dtype='object')

In [ ]:
type(residential_energy.columns[0])

str

In [96]:
type(residential_energy.columns[-1])

int

In [ ]:
def convert(data):
  cols = []
  for i in range(len(data.columns)):
      data_type = str(type(data.columns[i]))
      if "str" in data_type:
          cols.append(data.columns[i])
  #Melt function
  temp = data.melt(id_vars=cols, 
        var_name="year", 
        value_name="values")
  return temp

In [ ]:
#Modifying all the energy datasets
modified_re = convert(residential_energy)
modified_se = convert(services_energy)
modified_ie = convert(industrial_energy)
modified_te = convert(transport_energy)

In [ ]:
#Modifying all the emissions
modified_rems = convert(residential_emissions)
modified_sems = convert(services_emissions)
modified_iems = convert(industrial_emissions)
modified_tems = convert(transport_emissions)

In [ ]:
#Modifying all the energy indicators
modified_rei = convert(residential_ei)
modified_sei = convert(services_ei)
modified_iei = convert(industrial_ei)
modified_tei = convert(transport_ei)

In [ ]:
#Modifying all the carbon indicators
modified_rci = convert(residential_ci)
modified_sci = convert(services_ci)
modified_ici = convert(industrial_ci)
modified_tci = convert(transport_ci)

Verify whether in all datasets the year column generated

## ENERGY

In [ ]:
#Residential Energy
print("Original columns: ",residential_energy.columns)
print("\nModified:",modified_re.columns)
print("\nUnique years: ",modified_re['year'].unique())

Original columns:  Index(['Country', 'End use', 'Product',      2000,      2005,      2010,
            2015,      2016,      2017,      2018,      2019,      2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Services Energy
print("Original columns: ",services_energy.columns)
print("\nModified:",modified_se.columns)
print("\nUnique years: ",modified_se['year'].unique())

Original columns:  Index(['Country', 'End use', 'Product',      2000,      2005,      2010,
            2015,      2016,      2017,      2018,      2019,      2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Industrial Energy
print("Original columns: ",industrial_energy.columns)
print("\nModified:",modified_ie.columns)
print("\nUnique years: ",modified_ie['year'].unique())

Original columns:  Index([  'Country', 'Subsector',   'Product',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'Subsector', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Transport Energy
print("Original columns: ",transport_energy.columns)
print("\nModified:",modified_te.columns)
print("\nUnique years: ",modified_te['year'].unique())

Original columns:  Index([          'Country', 'Mode/vehicle type',           'Product',
                      2000,                2005,                2010,
                      2015,                2016,                2017,
                      2018,                2019,                2020],
      dtype='object')

Modified: Index(['Country', 'Mode/vehicle type', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

## EMISSIONS

In [ ]:
#Transport Emissions
print("Original columns: ",transport_emissions.columns)
print("\nModified:",modified_tems.columns)
print("\nUnique years: ",modified_tems['year'].unique())

Original columns:  Index([          'Country', 'Mode/vehicle type',           'Product',
                      2000,                2005,                2010,
                      2015,                2016,                2017,
                      2018,                2019,                2020],
      dtype='object')

Modified: Index(['Country', 'Mode/vehicle type', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Industrial Emissions
print("Original columns: ",industrial_emissions.columns)
print("\nModified:",modified_iems.columns)
print("\nUnique years: ",modified_iems['year'].unique())

Original columns:  Index([  'Country', 'Subsector',   'Product',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'Subsector', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Services Emissions
print("Original columns: ",services_emissions.columns)
print("\nModified:",modified_sems.columns)
print("\nUnique years: ",modified_sems['year'].unique())

Original columns:  Index(['Country', 'End use', 'Product',      2000,      2005,      2010,
            2015,      2016,      2017,      2018,      2019,      2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Residential Emissions
print("Original columns: ",residential_emissions.columns)
print("\nModified:",modified_rems.columns)
print("\nUnique years: ",modified_rems['year'].unique())

Original columns:  Index(['Country', 'End use', 'Product',      2000,      2005,      2010,
            2015,      2016,      2017,      2018,      2019,      2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Product', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

## ENERGY INDICATORS

In [ ]:
#Transport Energy Indicators
print("Original columns: ",transport_ei.columns)
print("\nModified:",modified_tei.columns)
print("\nUnique years: ",modified_tei['year'].unique())

Original columns:  Index([          'Country', 'Mode/vehicle type',         'Indicator',
                      2000,                2005,                2010,
                      2015,                2016,                2017,
                      2018,                2019,                2020],
      dtype='object')

Modified: Index(['Country', 'Mode/vehicle type', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Industrial Energy Indicators
print("Original columns: ",industrial_ei.columns)
print("\nModified:",modified_iei.columns)
print("\nUnique years: ",modified_iei['year'].unique())

Original columns:  Index([  'Country', 'Subsector', 'Indicator',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'Subsector', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Services Energy Indicators
print("Original columns: ",services_ei.columns)
print("\nModified:",modified_sei.columns)
print("\nUnique years: ",modified_sei['year'].unique())

Original columns:  Index([  'Country',   'End use', 'Indicator',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Residential Energy Indicators
print("Original columns: ",residential_ei.columns)
print("\nModified:",modified_rei.columns)
print("\nUnique years: ",modified_rei['year'].unique())

Original columns:  Index([  'Country',   'End use', 'Indicator',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

## CARBON INDICATORS

In [ ]:
#Transport Carbon Indicators
print("Original columns: ",transport_ci.columns)
print("\nModified:",modified_tci.columns)
print("\nUnique years: ",modified_tci['year'].unique())

Original columns:  Index([          'Country', 'Mode/vehicle type',         'Indicator',
                      2000,                2005,                2010,
                      2015,                2016,                2017,
                      2018,                2019,                2020],
      dtype='object')

Modified: Index(['Country', 'Mode/vehicle type', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Industrial Carbon Indicators
print("Original columns: ",industrial_ci.columns)
print("\nModified:",modified_ici.columns)
print("\nUnique years: ",modified_ici['year'].unique())

Original columns:  Index([  'Country', 'Subsector', 'Indicator',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'Subsector', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Services Carbon Indicators
print("Original columns: ",services_ci.columns)
print("\nModified:",modified_sci.columns)
print("\nUnique years: ",modified_sci['year'].unique())

Original columns:  Index([  'Country',   'End use', 'Indicator',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

In [ ]:
#Residential Carbon Indicators
print("Original columns: ",residential_ci.columns)
print("\nModified:",modified_rci.columns)
print("\nUnique years: ",modified_rci['year'].unique())

Original columns:  Index([  'Country',   'End use', 'Indicator',        2000,        2005,
              2010,        2015,        2016,        2017,        2018,
              2019,        2020],
      dtype='object')

Modified: Index(['Country', 'End use', 'Indicator', 'year', 'values'], dtype='object')

Unique years:  [2000 2005 2010 2015 2016 2017 2018 2019 2020]

Verified , in all the modified datasets we have year column and not missed anything

## Cleaning the data

Observed that the year, values are read as object data types. So fixing the dtypes. 
* Year : converted to int
* values : Replaced ".." with np.nan and converted to float 
* Finally dropped the null values.

### Modified Residential Energy

In [ ]:
modified_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7182 entries, 0 to 7181
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  7182 non-null   object
 1   End use  7182 non-null   object
 2   Product  7182 non-null   object
 3   year     7182 non-null   object
 4   values   7182 non-null   object
dtypes: object(5)
memory usage: 280.7+ KB

In [ ]:
modified_re['year']=modified_re['year'].astype(int)
modified_re['values']=modified_re['values'].replace("..",np.nan).astype(float)
modified_re.dropna(inplace=True)
modified_re.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6114 entries, 0 to 7153
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  6114 non-null   object
 1   End use  6114 non-null   object
 2   Product  6114 non-null   object
 3   year     6114 non-null   int64
 4   values   6114 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 286.6+ KB

Simillarly we will do this for all the datasets and save the cleaned datasets to use for powerbi

### Modified Services Energy

In [ ]:
modified_se.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5643 entries, 0 to 5642
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  5643 non-null   object
 1   End use  5643 non-null   object
 2   Product  5643 non-null   object
 3   year     5643 non-null   object
 4   values   5643 non-null   object
dtypes: object(5)
memory usage: 220.6+ KB

In [ ]:
modified_se['year']=modified_se['year'].astype(int)
modified_se['values']=modified_se['values'].replace("..",np.nan).astype(float)
modified_se.dropna(inplace=True)
modified_se.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4494 entries, 0 to 5617
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4494 non-null   object
 1   End use  4494 non-null   object
 2   Product  4494 non-null   object
 3   year     4494 non-null   int64
 4   values   4494 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 210.7+ KB

### Modified Industrial Emissions

In [ ]:
modified_ie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8235 entries, 0 to 8234
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    8235 non-null   object
 1   Subsector  8235 non-null   object
 2   Product    8235 non-null   object
 3   year       8235 non-null   object
 4   values     8235 non-null   object
dtypes: object(5)
memory usage: 321.8+ KB

In [ ]:
modified_ie['year']=modified_ie['year'].astype(int)
modified_ie['values']=modified_ie['values'].replace("..",np.nan).astype(float)
modified_ie.dropna(inplace=True)
modified_ie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7820 entries, 0 to 8189
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    7820 non-null   object
 1   Subsector  7820 non-null   object
 2   Product    7820 non-null   object
 3   year       7820 non-null   int64
 4   values     7820 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 366.6+ KB

### Modified Residential Emissions

In [ ]:
modified_rems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7182 entries, 0 to 7181
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  7182 non-null   object
 1   End use  7182 non-null   object
 2   Product  7182 non-null   object
 3   year     7182 non-null   object
 4   values   7182 non-null   object
dtypes: object(5)
memory usage: 280.7+ KB

In [ ]:
modified_rems['year']=modified_rems['year'].astype(int)
modified_rems['values']=modified_rems['values'].replace("..",np.nan).astype(float)
modified_rems.dropna(inplace=True)
modified_rems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6078 entries, 0 to 7153
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  6078 non-null   object
 1   End use  6078 non-null   object
 2   Product  6078 non-null   object
 3   year     6078 non-null   int64
 4   values   6078 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 284.9+ KB

### Modified Transport Energy

In [ ]:
modified_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            10800 non-null  object
 1   Mode/vehicle type  10800 non-null  object
 2   Product            10800 non-null  object
 3   year               10800 non-null  object
 4   values             10800 non-null  object
dtypes: object(5)
memory usage: 422.0+ KB

In [ ]:
modified_te['year']=modified_te['year'].astype(int)
modified_te['values']=modified_te['values'].replace("..",np.nan).astype(float)
modified_te.dropna(inplace=True)
modified_te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8648 entries, 0 to 10779
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            8648 non-null   object
 1   Mode/vehicle type  8648 non-null   object
 2   Product            8648 non-null   object
 3   year               8648 non-null   int64
 4   values             8648 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 405.4+ KB

### Modified Services Emissions

In [ ]:
modified_sems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5643 entries, 0 to 5642
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  5643 non-null   object
 1   End use  5643 non-null   object
 2   Product  5643 non-null   object
 3   year     5643 non-null   object
 4   values   5643 non-null   object
dtypes: object(5)
memory usage: 220.6+ KB

In [ ]:
modified_sems['year']=modified_sems['year'].astype(int)
modified_sems['values']=modified_sems['values'].replace("..",np.nan).astype(float)
modified_sems.dropna(inplace=True)
modified_sems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4477 entries, 0 to 5617
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4477 non-null   object
 1   End use  4477 non-null   object
 2   Product  4477 non-null   object
 3   year     4477 non-null   int64
 4   values   4477 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 209.9+ KB

### Modified Industrial Emissions

In [ ]:
modified_iems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8235 entries, 0 to 8234
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    8235 non-null   object
 1   Subsector  8235 non-null   object
 2   Product    8235 non-null   object
 3   year       8235 non-null   object
 4   values     8235 non-null   object
dtypes: object(5)
memory usage: 321.8+ KB

In [ ]:
modified_iems['year']=modified_iems['year'].astype(int)
modified_iems['values']=modified_iems['values'].replace("..",np.nan).astype(float)
modified_iems.dropna(inplace=True)
modified_iems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7818 entries, 0 to 8189
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    7818 non-null   object
 1   Subsector  7818 non-null   object
 2   Product    7818 non-null   object
 3   year       7818 non-null   int64
 4   values     7818 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 366.5+ KB

### Modified Transport Emissions

In [ ]:
modified_tems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            10800 non-null  object
 1   Mode/vehicle type  10800 non-null  object
 2   Product            10800 non-null  object
 3   year               10800 non-null  object
 4   values             10800 non-null  object
dtypes: object(5)
memory usage: 422.0+ KB

In [ ]:
modified_tems['year']=modified_tems['year'].astype(int)
modified_tems['values']=modified_tems['values'].replace("..",np.nan).astype(float)
modified_tems.dropna(inplace=True)
modified_tems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5629 entries, 0 to 10769
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            5629 non-null   object
 1   Mode/vehicle type  5629 non-null   object
 2   Product            5629 non-null   object
 3   year               5629 non-null   int64
 4   values             5629 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 263.9+ KB

### Modified Residential Energy Indicators

In [ ]:
modified_rei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7695 entries, 0 to 7694
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    7695 non-null   object
 1   End use    7695 non-null   object
 2   Indicator  7695 non-null   object
 3   year       7695 non-null   object
 4   values     7695 non-null   object
dtypes: object(5)
memory usage: 300.7+ KB

In [ ]:
modified_rei['values'].unique()

array([19.88, 0.45, 51.9, ..., 17.37, 21.3, 20.41], dtype=object)

In [ ]:
modified_rei['year'] = modified_rei['year'].astype(int)
modified_rei['values']=modified_rei['values'].replace("..",np.nan).astype(float)
modified_rei.dropna(inplace=True)
modified_rei.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4515 entries, 0 to 7663
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    4515 non-null   object
 1   End use    4515 non-null   object
 2   Indicator  4515 non-null   object
 3   year       4515 non-null   int64
 4   values     4515 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 211.6+ KB

### Modified Services Energy Indicator

In [ ]:
modified_sei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565 entries, 0 to 2564
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    2565 non-null   object
 1   End use    2565 non-null   object
 2   Indicator  2565 non-null   object
 3   year       2565 non-null   object
 4   values     2565 non-null   object
dtypes: object(5)
memory usage: 100.3+ KB

In [ ]:
modified_sei['year']=modified_sei['year'].astype(int)
modified_sei['values']=modified_sei['values'].replace("..",np.nan).astype(float)
modified_sei.dropna(inplace=True)
modified_sei.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1597 entries, 0 to 2554
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    1597 non-null   object
 1   End use    1597 non-null   object
 2   Indicator  1597 non-null   object
 3   year       1597 non-null   int64
 4   values     1597 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 74.9+ KB

### Modified Industrial Energy Indicators

In [ ]:
modified_iei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4392 entries, 0 to 4391
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    4392 non-null   object
 1   Subsector  4392 non-null   object
 2   Indicator  4392 non-null   object
 3   year       4392 non-null   object
 4   values     4392 non-null   object
dtypes: object(5)
memory usage: 171.7+ KB

In [ ]:
modified_iei['year']=modified_iei['year'].astype(int)
modified_iei['values']=modified_iei['values'].replace("..",np.nan).astype(float)
modified_iei.dropna(inplace=True)
modified_iei.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3150 entries, 0 to 4367
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    3150 non-null   object
 1   Subsector  3150 non-null   object
 2   Indicator  3150 non-null   object
 3   year       3150 non-null   int64
 4   values     3150 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 147.7+ KB

### Modified Transport Energy Indicator

In [ ]:
modified_tei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8640 entries, 0 to 8639
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            8640 non-null   object
 1   Mode/vehicle type  8640 non-null   object
 2   Indicator          8640 non-null   object
 3   year               8640 non-null   object
 4   values             8640 non-null   object
dtypes: object(5)
memory usage: 337.6+ KB

In [ ]:
modified_tei['year']=modified_tei['year'].astype(int)
modified_tei['values']=modified_tei['values'].replace("..",np.nan).astype(float)
modified_tei.dropna(inplace=True)
modified_tei.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4068 entries, 0 to 8506
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            4068 non-null   object
 1   Mode/vehicle type  4068 non-null   object
 2   Indicator          4068 non-null   object
 3   year               4068 non-null   int64
 4   values             4068 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 190.7+ KB

### Modified Transport Carbon Indicators

In [ ]:
modified_tci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3240 entries, 0 to 3239
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            3240 non-null   object
 1   Mode/vehicle type  3240 non-null   object
 2   Indicator          3240 non-null   object
 3   year               3240 non-null   object
 4   values             3240 non-null   object
dtypes: object(5)
memory usage: 126.7+ KB

In [ ]:
modified_tci['values'].unique()

array([2.07, 0.16, 0.26, 1.16, 0.5, 1.3, 0.19, 0.53, 0.11, 0.46, 1.24,
       0.12, 0.18, 0.8, 2.12, 0.14, 0.23, 1.59, 0.2, 0.63, 0.69, 0.22,
       0.32, 0.08, 0.4, 1.25, 0.13, 0.75, 0.17, 0.54, '..', 1.12, 0.1,
       0.15, 0.79, 0.58, 0.24, 0.43, 0.57, 0.78, 0.6, 0.42, 0.09, 0.27,
       0.36, 1.23, 0.66, 1.19, 0.62, 1.08, 0.21, 0.67, 0.39, 1.33, 0.65,
       0.51, 0.07, 0.29, 1.5, 0.48, 0.03, 1.04, 5.94, 0.49, 0.83, 1.09,
       0.25, 0.59, 0.84, 0.85, 0.37, 0.35, 0.04, 0.76, 1.13, 1.36, 1.43,
       0.45, 3.85, 1.17, 0.72, 0.33, 1.02, 0.3, 0.31, 2.13, 1.26, 0.89,
       2.11, 1.76, 0.93, 0.55, 1.22, 1.15, 0.7, 0.41, 1.28, 0.52, 0.95,
       0.64, 1.4, 0.74, 1, 0.77, 0.73, 1.79, 1.32, 6.78, 0.88, 0.91, 0.38,
       1.41, 0.71, 3.95, 1.29, 0.68, 0.56, 1.92, 1.34, 1.35, 0.44, 0.82,
       0.47, 2.04, 1.94, 0.96, 1.2, 0.87, 0.9, 1.37, 0.99, 1.14, 0.86,
       1.74, 0.06, 1.05, 6.52, 1.31, 0.94, 1.03, 1.39, 3.51, 1.56, 1.82,
       1.42, 1.38, 0.61, 0.81, 1.87, 1.06, 0.34, 1.53, 5.92, 3.61, 1.68,
       0.28, 1.83, 1.98, 1.8, 0.92, 1.6, 3.5, 1.67, 1.63, 1.75, 1.44,
       1.97, 1.85, 1.21, 1.48, 6.13, 1.52, 3.48, 1.65, 1.69, 1.73, 1.46,
       1.96, 1.91, 0.05, 5.98, 1.27, 3.45, 1.66, 1.95, 1.89, 0.98, 5.87,
       1.57, 1.72, 1.55, 1.45, 1.61, 4.51, 1.07, 3.06, 1.64], dtype=object)

In [ ]:
modified_tci['year']=modified_tci['year'].astype(int)
modified_tci['values']=modified_tci['values'].replace("..",np.nan).astype(float)
modified_tci.dropna(inplace=True)
modified_tci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1498 entries, 0 to 3083
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            1498 non-null   object
 1   Mode/vehicle type  1498 non-null   object
 2   Indicator          1498 non-null   object
 3   year               1498 non-null   int64
 4   values             1498 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 70.2+ KB

### Modified Services Carbon Indicators

In [ ]:
modified_sci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2052 entries, 0 to 2051
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    2052 non-null   object
 1   End use    2052 non-null   object
 2   Indicator  2052 non-null   object
 3   year       2052 non-null   object
 4   values     2052 non-null   object
dtypes: object(5)
memory usage: 80.3+ KB

In [ ]:
#Changing the year column to int
modified_sci['year']=modified_sci['year'].astype(int)

In [ ]:
#Fixing the energy column
modified_sci['values'].unique()

array([2.3, 0.13, '..', 6.59, 0.81, 0.03, 3.25, 0.99, 0.04, 3.29, 1.96,
       0.08, 0.1, 5.5, 1.77, 1.48, 0.05, 3.83, 2.12, 0.2, 8.36, 1.1, 0.06,
       3.71, 0.67, 2.2, 1.61, 4.71, 1.2, 0.07, 4.61, 4.16, 5.63, 0.77,
       2.82, 1.43, 0.11, 4.27, 1.47, 0.12, 5.34, 0.33, 1.51, 1.44, 0.02,
       3.26, 0.19, 0.93, 1.4, 3.47, 0.56, 2.16, 0.22, 0.01, 1.08, 5.62,
       0.72, 2.71, 1.24, 5.57, 0.71, 2.95, 0.45, 1.25, 0.8, 2.02, 0.26,
       1.36, 3.48, 3.7, 0.16, 9.95, 0.29, 0.73, 0.24, 0.44, 0.14, 0.15,
       1.87, 0.42, 1.8, 0.75, 3.96, 0.4, 0.58, 3.04, 0.37, 1.97, 1.73,
       5.21, 2.18, 16.6, 0.39, 1.31, 5.22, 0.57, 0.17, 1.23, 1.04, 4.41,
       0.3, 0.52, 0.36, 2.92, 7.81, 3.87, 4.14, 1.86, 0.09, 4.94, 6.57,
       1.33, 3.36, 2.81, 10.14, 1.13, 3.54, 0.69, 2.23, 1.56, 4.45, 5.06,
       3.9, 1.72, 5.42, 0.96, 3.32, 4.23, 1.78, 5.79, 0.38, 1.58, 1.93,
       1.5, 3.66, 0.79, 2.72, 6.69, 0.98, 3.43, 3.91, 2.8, 2, 0.34, 2.52,
       1.26, 3.02, 3.59, 9.48, 0.82, 0.21, 0.25, 1, 0.23, 0.46, 1.66,
       0.76, 3.64, 0.78, 3.34, 2.17, 5.89, 3.07, 19.83, 0.51, 1.59, 5.99,
       0.31, 1.88, 0.92, 3.56, 0.64, 0.5, 2.91, 7.58, 2.63, 1.22, 3.75,
       1.64, 1.85, 6.74, 3.68, 13.39, 1.55, 0.7, 4.1, 1.32, 4.32, 0.86,
       3.27, 4.89, 0.95, 1.45, 3.97, 2.15, 6.51, 0.43, 1.62, 1.94, 3.53,
       0.63, 0.94, 1.53, 6.73, 0.54, 1.84, 1.07, 0.59, 1.99, 1.12, 2.69,
       3.23, 8.81, 0.74, 1.54, 0.55, 1.98, 0.27, 1.16, 4.11, 0.47, 2.09,
       2.31, 6.23, 3.03, 17.49, 0.68, 2.13, 7.1, 2.19, 0.89, 1.06, 3.72,
       0.18, 1.21, 6.92, 5.53, 1.7, 3.09, 9.78, 0.84, 2.47, 1.02, 1.41,
       2.64, 4.31, 2.03, 5.69, 3.58, 1.69, 1.34, 5.56, 2.48, 2.04, 2.14,
       1.28, 2.85, 0.41, 1.68, 2.84, 1.03, 3.86, 4.96, 1.14, 3.16, 0.35,
       1.52, 0.6, 6.86, 3.99, 5.59, 1.83, 3.52, 10.93, 0.9, 1.65, 1.01,
       1.46, 4.35, 2.59, 4.36, 2.1, 5.82, 3.45, 0.83, 1.39, 5.7, 1.92,
       1.71, 3.95, 2.7, 7.12, 0.49, 2.05, 0.48, 0.32, 3.5, 1.9, 2.11,
       2.75, 6.7, 2.76, 1.6, 4.05, 5.43, 0.61, 10.53, 2.51, 1.37, 3.42,
       3.3, 1.89, 2.56, 4.2, 5.78, 1.19, 3.28, 1.35, 2.5, 4.13, 1.63,
       2.57, 2.86, 4.93, 0.85, 2.87, 0.91, 2.73, 1.57, 5.28, 9.94, 1.29,
       3.21, 3.06, 1.75, 3.65, 4.01, 5.91, 1.17, 2.99, 0.53, 2.6, 1.49,
       3.12, 3.17, 4.79, 2.89, 0.88, 2.45, 2.41, 1.81, 5.12, 2.27, 1.15,
       2.83, 2.53, 3.14, 5.54, 2.77, 4.8, 1.67, 1.38, 3.84, 6.31, 2.96,
       0.97, 2.94, 4.59, 2.24, 3.93, 4.28, 3.46, 1.79, 1.05, 0.62, 3.67,
       5.11, 1.09, 2.38, 1.76, 1.11, 4.38, 3.92, 5.87, 3.78, 2.01, 0.28,
       1.27, 0.65, 2.08], dtype=object)

In [ ]:
#Replace the ".." as nan and change data type to float
modified_sci['values']=modified_sci['values'].replace("..",np.nan).astype(float)

In [ ]:
#Dropping the null values
modified_sci.dropna(inplace=True)

In [ ]:
modified_sci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448 entries, 0 to 2043
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    1448 non-null   object
 1   End use    1448 non-null   object
 2   Indicator  1448 non-null   object
 3   year       1448 non-null   int64
 4   values     1448 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 67.9+ KB

### Modified Residential Carbon Indicators

In [ ]:
modified_rci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5643 entries, 0 to 5642
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    5643 non-null   object
 1   End use    5643 non-null   object
 2   Indicator  5643 non-null   object
 3   year       5643 non-null   object
 4   values     5643 non-null   object
dtypes: object(5)
memory usage: 220.6+ KB

In [ ]:
#Converting the year column to int
modified_rci['year']=modified_rci['year'].astype(int)

In [ ]:
#Viewing the unique values
modified_rci['values'].unique()

array([2.89, 0.07, 7.53, 100, 1.69, 0.05, 4.21, '..', 2.7, 0.08, 6.67,
       2.59, 6.82, 2.88, 0.11, 7.85, 2.61, 5.61, 3.04, 1.78, 0.04, 3.81,
       1.37, 3.34, 2.64, 6.09, 2.01, 5.68, 1.61, 0.06, 4.39, 3.08, 0.09,
       9.57, 1.46, 3.86, 1.47, 4.13, 1.12, 3.63, 0.69, 0.03, 2.47, 9.15,
       0.5, 2.2, 1.87, 4.7, 0.74, 0.02, 2.03, 0.19, 0.45, 1.94, 6.69,
       0.78, 2.4, 4.77, 0.96, 2.99, 0.92, 1.58, 3.55, 0.63, 2.71, 2.43,
       5.82, 4.28, 11.79, 2.66, 0.14, 0.38, 1.52, 0.15, 0.68, 0.82, 1.43,
       3.85, 1.48, 1.34, 0.9, 1.8, 0.41, 1.01, 163, 68, 1.65, 0.65, 0.91,
       2.6, 4.2, 0.25, 0.59, 0.99, 0.2, 3.11, 8.38, 107, 110, 123, 126,
       113, 1.75, 4.14, 98, 93, 167, 138, 186, 171, 2.68, 6.51, 2.42,
       6.21, 90, 92, 86, 84, 83, 2.77, 0.1, 7.28, 94, 91, 78, 79, 2.32,
       4.82, 75, 88, 3.05, 3.7, 103, 67, 1.4, 3.3, 111, 2.62, 5.86, 96,
       95, 2.28, 6.13, 124, 120, 106, 101, 1.71, 115, 8.97, 102, 80, 4.03,
       117, 105, 4.22, 1.35, 4.07, 130, 150, 109, 0.71, 1.81, 8.67, 0.46,
       1.89, 1.82, 4.5, 0.98, 2.65, 128, 129, 139, 153, 0.44, 2.25, 7.25,
       0.88, 2.33, 125, 104, 1.32, 77, 74, 1.14, 3.28, 119, 0.76, 1.62,
       82, 1.67, 3.74, 108, 0.67, 2.75, 121, 70, 2.5, 5.93, 4.17, 11.41,
       76, 50, 97, 2.76, 114, 112, 0.13, 0.3, 1.11, 4.44, 0.37, 0.16, 1.6,
       3.75, 2.37, 0.24, 1.33, 33, 188, 1.76, 0.85, 1.42, 4.41, 0.23,
       0.28, 0.21, 8.77, 3.69, 133, 164, 151, 2.24, 5.39, 2.18, 5.54, 81,
       7.01, 56, 54, 4.74, 89, 85, 3.56, 4.68, 135, 170, 156, 1.21, 2.8,
       122, 5.63, 1.85, 5.01, 3.66, 2.85, 7.86, 71, 1.36, 3.39, 65, 4.18,
       99, 4.31, 140, 141, 1.79, 200, 175, 2.52, 6.42, 1.7, 2.06, 4.97,
       0.62, 0.01, 1.68, 0.29, 0.66, 7.41, 131, 60, 69, 61, 1.13, 3.52,
       51, 63, 0.64, 64, 1.53, 3.42, 0.73, 2.78, 2.29, 5.47, 10.67, 72,
       73, 3.26, 118, 143, 0.47, 0.32, 1.09, 4.15, 1.55, 0.48, 1.66, 0.77,
       0.93, 1.05, 1.5, 1.59, 0.94, 2.12, 0.33, 1.31, 2.19, 1.54, 1.26,
       0.86, 2.44, 4.01, 2.56, 7.45, 1.24, 2.81, 1.77, 1.99, 5.02, 62,
       2.3, 5.8, 25, 1.3, 57, 55, 31, 1.27, 2.49, 38, 35, 58, 2, 40, 3.8,
       66, 2.79, 52, 47, 5.69, 53, 1.16, 2.87, 4.1, 134, 3.84, 0.43, 0.89,
       44, 4.94, 37, 0.4, 3.91, 0.49, 0.17, 0.39, 5.95, 0.61, 59, 2.23,
       42, 2.53, 0.72, 144, 3.82, 3.23, 8.83, 45, 3.46, 158, 300, 286,
       1.1, 3.98, 1.19, 3.14, 87, 1.73, 1.51, 0.8, 43, 0.54, 7.48, 1.25,
       2.84, 4.02, 4.67, 2.41, 6.03, 2.83, 39, 2.05, 3.64, 2.91, 2.17,
       1.15, 41, 1.74, 4.16, 4.04, 165, 48, 1.93, 13, 15, 1.49, 3.93, 116,
       0.42, 0.18, 2.07, 6, 46, 0.95, 176, 149, 127, 49, 3.01, 8.23, 1.03,
       3.59, 0.55, 250, 214, 1.18, 0.57, 0.7, 1.17, 3.88, 2.11, 0.87, 1,
       0.34, 7.16, 1.29, 2.92, 3.94, 2.39, 5.97, 2.36, 28, 27, 29, 2.08,
       4.46, 3.27, 2.02, 5.48, 4.06, 1.91, 4.76, 19, 17, 5.92, 2.93, 0.83,
       2.1, 2.45, 0.81, 1.39, 7.99, 157, 146, 0.53, 1.04, 1.41, 0.79,
       0.36, 18, 6.75, 1.64, 1.86, 2.26, 5.62, 22, 30, 2.46, 1.23, 1.83,
       1.98, 4.23, 3.83, 1.56, 4.05, 162, 4.38, 10, 1.44, 3.58, 5.71,
       2.22, 136, 1.38, 3.24, 36, 34, 3.07, 8.26, 3.09, 1.02, 1.28, 6.46,
       3.72, 2.09, 5.17, 21, 2.04, 24, 20, 1.9, 4.98, 2.55, 1.57, 3.67,
       3.78, 168, 0.12, 0.27, 5.04, 2.73, 2.63, 194, 7.81, 0.51, 4.11,
       0.58, 3.06, 1.2, 1.92, 0.6, 2.13, 6.3, 1.97, 4.86, 32, 0.75, 1.08,
       2.9, 5.25, 4.19, 7, 26, 4.88, 2.67, 3.02, 2.15, 1.07, 148],
      dtype=object)

In [ ]:
#Replacing the ".." with nan and converting to float 
modified_rci['values']=modified_rci['values'].replace("..",np.nan).astype(float)

In [ ]:
#Dropping the null values
modified_rci=modified_rci.dropna()

In [ ]:
#Verifying the data types
modified_rci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3065 entries, 0 to 5619
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    3065 non-null   object
 1   End use    3065 non-null   object
 2   Indicator  3065 non-null   object
 3   year       3065 non-null   int64
 4   values     3065 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 143.7+ KB

### Modified Industrial Carbon Indicators

In [ ]:
modified_ici.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4392 entries, 0 to 4391
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    4392 non-null   object
 1   Subsector  4392 non-null   object
 2   Indicator  4392 non-null   object
 3   year       4392 non-null   object
 4   values     4392 non-null   object
dtypes: object(5)
memory usage: 171.7+ KB

we can see that year and energy are read as object type, we will cahnge it to numerical format. Year as int and Energy as Float.

In [ ]:
#Converting the year column to int format
modified_ici['year'] = modified_ici['year'].astype(int)

In [ ]:
#Converting the energy column to float format
modified_ici['values'].unique()

array([1.53, '..', 100, 0.34, 0.73, 0.76, 1.4, 0.35, 1.61, 0.72, 0.32,
       0.41, 0.81, 0.42, 0.23, 0.51, 0.78, 0.31, 0.44, 0.36, 0.67, 0.55,
       0.52, 1.82, 0.46, 0.21, 0.08, 0.62, 0.48, 0.75, 0.37, 1.17, 3.25,
       0.82, 0.57, 0.03, 0.17, 1.43, 102, 89, 120, 105, 75, 110, 96, 104,
       94, 167, 0.53, 79, 91, 64, 119, 164, 0.7, 76, 90, 85, 103, 0.98,
       98, 88, 146, 65, 83, 63, 74, 106, 107, 1.2, 84, 87, 56, 86, 68, 93,
       101, 0.3, 122, 116, 111, 150, 0.38, 118, 123, 0.54, 45, 67, 80,
       0.26, 70, 48, 78, 54, 73, 0.16, 59, 175, 58, 92, 109, 132, 0.45,
       129, 0.56, 260, 39, 61, 163, 60, 200, 216, 0.63, 81, 108, 0.49,
       124, 25, 114, 144, 147, 52, 117, 66, 0.99, 69, 71, 46, 33, 121,
       142, 126, 0.18, 95, 143, 135, 0.07, 50, 133, 112, 0.29, 0.33, 321,
       0.43, 99, 77, 37, 127, 97, 0.89, 333, 218, 131, 3.1, 55, 44, 0.61,
       0.47, 0.02, 82, 125, 189, 256, 62, 157, 0.25, 136, 1.12, 159, 49,
       113, 145, 0.2, 165, 28, 0.11, 31, 174, 57, 153, 138, 208, 0.19, 72,
       43, 237, 128, 134, 40, 47, 36, 0.6, 26, 51, 30, 42, 182, 0.06, 41,
       0.24, 305, 171, 187, 32, 0.71, 433, 291, 300, 3.15, 215, 38, 53,
       0.01, 0.13, 1.25, 160, 29, 22, 209, 14, 205, 139, 140, 600, 0.05,
       206, 34, 0.4, 0.5, 224, 11, 20, 226, 250, 0.27, 35, 23, 0.12, 24,
       170, 283, 325, 166, 115, 279, 1.58, 1.09, 0.15, 0.14, 0.96, 686,
       0.39, 0.22, 169, 367, 800, 336, 554, 17, 1.69, 2983, 0.28, 1.28,
       130, 27, 191, 0.65, 15, 211, 18, 149, 201, 212, 0.1, 258, 192, 12,
       241, 0.04, 141, 178, 158, 268, 1.51, 1.15, 154, 230, 21, 9, 1.08,
       514, 0.68, 350, 1067, 318, 762, 700, 1.73, 2567, 1.21, 0.58, 148,
       236, 5, 288, 0.09, 247, 137, 183, 155, 217, 313, 263, 1.42, 0.87,
       239, 400, 467, 345, 954, 1.75, 3417, 1.16, 13, 255, 10, 195, 196,
       233, 19, 253, 1.46, 222, 7, 0.69, 257, 267, 677, 900, 1.64, 3117,
       1.13, 161, 273, 6, 172, 225, 274, 0.9, 248, 3, 0.83, 429, 769,
       1000, 1.06, 221, 188, 235, 1100, 242], dtype=object)

we can see that ".." is present in the data, so replacing that as null

In [ ]:
#Replacing the ".." with nan and converting as float data type
modified_ici['values']=modified_ici['values'].replace("..",np.nan).astype(float)

In [ ]:
#Finding and drop all the null records
modified_ici=modified_ici.dropna()

In [ ]:
modified_ici.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3111 entries, 0 to 4367
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    3111 non-null   object
 1   Subsector  3111 non-null   object
 2   Indicator  3111 non-null   object
 3   year       3111 non-null   int64
 4   values     3111 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 145.8+ KB

# Saving the cleaned data

In [ ]:
#Energy
modified_re.to_csv("Residential_Energy.csv")
modified_se.to_csv("Services_Energy.csv")
modified_ie.to_csv("Industrial_Energy.csv")
modified_te.to_csv("Transport_Energy.csv")

#Emissions
modified_rems.to_csv("Residential_Emissions.csv")
modified_sems.to_csv("Services_Emissions.csv")
modified_iems.to_csv("Industrial_Emissions.csv")
modified_tems.to_csv("Transport_Emissions.csv")

#Energy Indicators
modified_rei.to_csv("Residential_Energy_Indicators.csv")
modified_sei.to_csv("Services_Energy_Indicators.csv")
modified_iei.to_csv("Industrial_Energy_Indicators.csv")
modified_tei.to_csv("Transport_Energy_Indicators.csv")

#Carbon Indicators
modified_rci.to_csv("Residential_Carbon_Indicators.csv")
modified_sci.to_csv("Services_Carbon_Indicators.csv")
modified_ici.to_csv("Industrial_Carbon_Indicators.csv")
modified_tci.to_csv("Transport_Carbon_Indicators.csv")